footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 450px; /* Change height to min-height */
    margin-bottom: 0;
    margin-top: 150px;
    background-color: $footer-primary-background-color;
    position: relative; /* Add position relative */}

    .new-copyright {
        position: absolute; /* Change to absolute positioning */
        bottom: 0; /* Align to the bottom */
        left: 50%; /* Center horizontally */
        transform: translateX(-50%); /* Center horizontally */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 52px;
        background-color: $footer-background-color-secondary;
        width: 100%; /* Adjust width to fill the footer */}

        .new-copyright1 {
            font-family: $regular-font;
            font-size: 14px;
            font-weight: 300;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            color: $footer-text-secondary;
        }
    

    
    .container {
        display: flex;
        justify-content: space-between;
        height: 312px;
        width: 100%;
        margin: auto;
        margin-top: 50px;}

        .column-address {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 35%;
            height: auto;
            padding-left: 50px;}

            .footer-address-title {
                font-family: Roboto;
                font-size: 28px;
                font-weight: 700;
                line-height: 33px;
                letter-spacing: 0em;
                text-align: left;
                color: $secondary-font-color;
            }

            .footer-address-info {
                font-family: Roboto;
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: left;
                color: $secondary-font-color;
                opacity: 0.5;
                margin-bottom: 50px;
                max-width: 300px;
                margin: 50px 0 50px 0;
            }

            .footer-address {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: auto;
                margin-bottom: 30px;

                span {
                    margin-bottom: 10px;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: $secondary-font-color;
                }
            }

            nav.menu ul#footer_social_media {
                display: flex;
                justify-content: space-between;
                max-width: 260px;
            
                li {
                    list-style: none;
                    font-size: 0; /* Hide the text */
                }
            
                li#menu-item-88 a::before {
                    content: "";
                    display: inline-block;
                    width: 10px;
                    height: 20px;
                    flex-shrink: 0;
                    background-size: cover;
                    background-image: url('../images/facebook.png');
                }
            
                li#menu-item-89 a::before {
                    content: "";
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    flex-shrink: 0;
                    background-size: cover;
                    background-image: url('../images/twitter.png');
                }
            
                li#menu-item-90 a::before {
                    content: "";
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    flex-shrink: 0;
                    background-size: cover;
                    background-image: url('../images/insta.png');
                }
            
                li#menu-item-91 a::before {
                    content: "";
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    flex-shrink: 0;
                    background-size: cover;
                    background-image: url('../images/youtube.png');
                }
            }
            
            
            
              

        .column-shopping,
        .column-links {
            width: 20%;
            height: auto;

            span.category {
                display: block;
                margin-bottom: 20px;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 300;
                line-height: 16px;
                letter-spacing: 0em;
                text-align: left;
                color: $secondary-font-color;
                opacity: 0.7;
            }

            ul {
                list-style-type: none;

                li {
                    margin-bottom: 18px;

                    a {
                        text-decoration: none;
                        line-height: 30px;
                        font-family: Roboto;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 19px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: $secondary-font-color;
                    }
                }
            }
        }



       
    


.footer-right {
    
    padding-right: 50px;
}


.footer-content {
    color: $footer-text-secondary;
    font-family: $regular-font;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
}

article {
    font-family: $regular-font;
    font-size: 24px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: $footer-text-primary;

    p {
        font-family: $regular-font;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;

        &:first-child {
            margin-bottom: 10px;
        }

        span {
            font-family: $regular-font;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            margin-top: 10px;
            
        }
    }

    &.content1 {
        .content1-2 {
            
            color: $footer-text-secondary;
        }

        .content1-3 {
            margin-top: 10px;
            color: $footer-text-primary;
        }
    }
    .content2-1 {
        margin-top: 30px;
    }
    .content1-3{
        margin-top: 10px;
    }
    &.content2 {
        .content2-2 {
           
            color: $footer-text-secondary;
        }

        .content2-3 {
         
            color: $footer-text-primary;
        }
    }
}

.line {
    width: 100%;
    height: 1px;
    background-color: $footer-line-color;
    margin-top: 30px;
}

      