
$dark-grey-color : #2f3132;

/// SINGLE PRODUCT
$product-color: #2a2b2d;
$product-size-medium: 18px;
$product-size-small: 14px;
$product-weight-small: 300;
$product-weight-medium: 500;
$product-font-size-medium: 16px;
$product-font-size-large:28px;


$header-weight: 700;
//GLOBAL