
$dark-grey-color : #2f3132;

/// SINGLE PRODUCT
$product-color: #2a2b2d;
$product-size-medium: 18px;
$product-size-small: 14px;
$product-weight-small: 300;
$product-weight-medium: 500;
$product-font-size-medium: 16px;
$product-font-size-large:28px;


$header-weight: 700;
//GLOBAL

/*FOOTER*/
$footer-text-primary:#FFFFFF80;
$footer-text-secondary: #fff;
$footer-background-color-primary: #323334;
$footer-background-color-secondary:#222222;
$footer-primary-background-color: #323334;
$footer-secondary-background-color: #222222;
$footer-line-color: #D9D9D9;
$secondary-font-color: #FFFFFF;
//FONTS
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
  }

  // Define custom font families using provided variables
$custom-regular-font: 'Roboto-Regular';
$custom-medium-font: 'Roboto-Medium';
$custom-light-font: 'Roboto-Light';
$custom-bold-font: 'Roboto-Bold';

  $regular-font: 'Roboto-Regular';
  $medium-font: 'Roboto-Medium';
  $light-font: 'Roboto-Light';
  $bold-font: 'Roboto-Bold';

