* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #2f3132;
}

body{
    font-family: Roboto;
}


@import "./fonts";
@import "./home";
@import "./variables";
@import "./header";
@import "./product-page";
@import "./footer";
@import"./cart";
