* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto;
}


@import "./fonts";
@import "./home";
@import "./variables";
@import "./header";
// @import "/";
// @import "/";
